body h1 {
  color: #f00;
}

body .btn {
  padding: 2px 10px;
  border-radius: 2px;
  border: 1px solid #c46;
}

body .btn-primary {
  background-color: #cc4466;
  color: white;
}

body .btn.btn-secondary {
  background-color: #edbcc8;
}

body .btn:disabled {
  opacity: 0.5;
}
